body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.info{
    border: 2px solid red;
    width: 100%;
    height: 650px;
    display: flex;
}
.info_items{
    border: blue 2px solid;
    width: 50%;
    padding: 20px;
    margin-left: 80px;
}
.info_items_flex{
    margin-top: 150px;
}
#vertical_line{
    width: 5px;
    height: 150px;
    background-color: red;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 15px;
}

#Mission h1{
    margin: 5px;
    border: steelblue 1px solid;
    font-size: 70px;
    text-transform: capitalize;
}
.change_color{
    color: tomato;
}

.info_items_flex{
    display: flex;
}
.info_items h4{
    margin-top: 76px;
}

.info_items img{
    margin-top: 100px;
    width: 421px;
    height: 450px;
    border: springgreen 2px solid;
}

button{
    padding: 12px 40px;
    background-color: tomato;
    border: 2px solid tomato;
    border-radius: 5px;
    font-size: 1.2em;
    color: white;
}

button:hover{
    background-color: white;
    color: tomato;
}


/* contianer design start*/
 
.contianer_02{
    width: 100%;
    height: 650px;
    border: 2px solid black;
    background-color: rgb(236, 138, 138);
}

.contianer_02 h1{
    text-align: center;
    margin: 50px 0px;
    border: 2px solid black;
    font-size: 60px;
    text-transform: capitalize;
}

.contianer_flex{
    display: flex;
    width: 100%;
    justify-content:center;
    border: rgb(55, 221, 138) 2px solid;
    padding: 50px;
}

.flex_items{
    margin: 0px 5px;
    width: 20%;
    border: tan solid 2px;
    border-radius: 10px;
}
.flex_items img{
    width: 100%;
    height: 200px;
    height: 200px;
}

/* contianer -02 desing end */



/* contianer -03 desing start */

.contianer_03{
    width: 100%;
    height: 1150px;
    border: cadetblue 2px solid;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    border: black 2px solid;
    margin: 40px 0px;
    padding: 60px 0px;
}

.row img{
    width: 400px;
    height: 350px;
    border: springgreen 2px solid;
    margin: 20px;
}
.text{
    width: 40%;
    height: 350px;
    border: 2px solid blue;
    padding: 10px 30px;
}
.text h1{
    font-size: 50px;
    text-transform: capitalize;
}
.text p{
    margin-bottom: 20px;
}

.text2{
    text-align: right;
}
/* container 04 desgin start  */


.contianer_04{
    border: red 2px solid;
    margin: 20px 0px;
    display: flex;
    justify-content: space-evenly;
}

.address{
    padding: 100px 0px 0px 50px;
}
.feedback{
    padding: 20px;
}

.box{
    width:235px; height:35px; border-radius:8px; border:tomato 2px solid; padding-left: 10px;
    margin: 10px;
}
#subject{
    width:510px;
}
#message{
    width: 510px;
    height: 200px;
    margin: 15px 10px;
    padding-top: 10px;
}
#submit{
    margin: 15px 10px;
    float: right;
}

footer{
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
}